.header-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.meal-creator-title{
    margin-left: 0;
}


.container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.meal-creator {
    font-family: "Nunito", sans-serif;
    border: 2px solid #99d9de;
    border-radius: 10px;
    width: 1200px;
    height: auto;
}

.table-header, .table-row {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
    font-size: 18px;
}

.table-row {
    background-color: #DEF6D8;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.header-item, .row-item {
    flex: 1;
    text-align: center;
}


button{
    border: 0;
    background-color: #DEF6D8;
    border-radius: 5px;
    cursor: pointer;
}

.plus-button2{
    background-color: #91c789;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 20px;
    height: 35px;
    width: 35px;
    text-align: center;
}

.plus-button2:hover{
    background-color:#DEF6D8 ;
}





