
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard {
    background-color: #91c789;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resultat-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.resultat-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resultat-card h3 {
    margin: 0;
}

.resultat-card select,
.resultat-card input {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}

.resultat-card p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.resultat-card span {
    font-size: 14px;
    color: #999;
}