
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard {
    background-color: #91c789;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resultat-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.resultat-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resultat-card h3 {
    margin: 0;
}

.resultat-card select,
.resultat-card input {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}

.resultat-card p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.resultat-card span {
    font-size: 14px;
    color: #999;
}



#calculate-calories{
    background-color: green;
    border: none;
    color: white;
    margin-top: auto;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 20px;
}

#calculate-calories:hover {
    background-color: #91c789;
}


#calories-burned {
    margin-top: 1vh;
    line-height: 1vhw;  /* Øger linjeafstanden */
    margin-bottom: 10px; /* Tilføjer lidt mere plads under overskriften */
    padding: 5px; /* Tilføjer padding inde i boksen */
    text-align: center; /* Centrerer teksten */
}

#total-time-spent{
    font-size: 1.5vh;
}

#track-activity {
    background-color: green;
    border: none;
    color: white;
    margin-top: auto;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 20px;
}

#track-activity:hover {
    background-color: #91c789; /* Lidt mørkere grøn når musen er over */
}

#user-weight-height{
    font-size: 1.5vh;
    margin-top: 0.5vh;
}